body {
  background-color: #111111;
  margin: 40px;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #fefefe;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
header .logo-form {
  width: 10%;
}
header .logo-form .square-red {
  background-color: #e31e3c;
  width: 30px;
  height: 30px;
}

.work-anim a {
  text-decoration: none;
  color: #fefefe;
  font-size: 0.8em;
  font-weight: 300;
  letter-spacing: 1.5px;
}

.container_carousel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  margin-top: 150px;
}
.container_carousel h1 {
  font-family: "Crimson Pro", serif;
  font-size: 5em;
  width: 70%;
  text-align: left;
}
.container_carousel .carousel {
  border-radius: 3px;
  width: 100%;
  overflow: hidden;
}
.container_carousel .carousel img {
  width: 100%;
}

.container_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.container_title h2 {
  font-family: "Roboto", sans-serif;
  font-size: 3em;
  text-align: left;
  width: 80%;
}
.container_title p {
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  text-align: left;
  font-weight: normal;
  width: 80%;
}

.container_category {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 150px 0 150px 0;
}
.container_category .block_category {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 80%;
}
.container_category .block_category h3 {
  font-size: 1em;
  font-weight: 300;
  opacity: 0.3;
}
.container_category .block_category .list {
  display: flex;
  justify-content: space-between;
  width: 60%;
}
.container_category .block_category .list ul {
  font-size: 1em;
  list-style: none;
  line-height: 2.5;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
footer .footer_block {
  display: flex;
  justify-content: center;
  margin: 50px 0 50px 0;
  width: 100%;
}
footer .footer_block .block_contact {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 80%;
}
footer .footer_block .block_contact .contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
footer .footer_block .block_contact .contact h2 {
  margin: 0;
  font-size: 2.5em;
}
footer .footer_block .block_contact .contact h2:nth-child(2) {
  color: #e31e3c;
}
footer .footer_block .block_contact .social-media {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
footer .footer_block .block_contact .social-media ul {
  list-style: none;
  display: inline;
}
footer .footer_block .block_contact .social-media div {
  display: flex;
  font-weight: 300;
  opacity: 0.3;
}
footer .footer_banner {
  position: relative;
  width: 100%;
}
footer .footer_banner .block_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
footer .footer_banner .block_title .footer-title {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
footer .footer_banner .block_title .footer-banner {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
  height: 100px;
}
footer .footer_banner .block_title .footer-banner img {
  object-fit: cover;
  width: 100%;
}

/*# sourceMappingURL=style.css.map */
