.work-anim {
  transition: transform 0.3s ease-in;
}
.work-anim a {
  text-decoration: none;
  color: #fefefe;
  font-size: 0.9em;
  font-weight: 500;
  letter-spacing: 1.5px;
  margin-right: 5px;
}
.work-anim:hover {
  transform: translateX(8px);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}
footer .footer_block {
  display: flex;
  justify-content: center;
  margin: 50px 0 50px 0;
  width: 100%;
}
footer .footer_block .block_contact {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 80%;
}
footer .footer_block .block_contact .contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
footer .footer_block .block_contact .contact h2 {
  margin: 0;
  font-size: 2.5em;
}
footer .footer_block .block_contact .contact h2:nth-child(2) {
  color: #e31e3c;
}
footer .footer_block .block_contact .social-media {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
footer .footer_block .block_contact .social-media ul {
  list-style: none;
  display: inline;
}
footer .footer_block .block_contact .social-media div {
  display: flex;
  font-weight: 300;
  opacity: 0.3;
}
footer .footer_banner {
  position: relative;
  width: 100%;
}
footer .footer_banner .block_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
footer .footer_banner .block_title .footer-title {
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
footer .footer_banner .block_title .footer-banner {
  border-radius: 3px 3px 0 0;
  overflow: hidden;
  height: 100px;
}
footer .footer_banner .block_title .footer-banner img {
  object-fit: cover;
  width: 100%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
}
header .header-title {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .header-title .logo-form {
  display: flex;
  background-color: #60d9ee;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  animation: logoform 0.5s;
  animation-delay: 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes logoform {
  0% {
    display: inline-block;
    background-color: #111111;
    height: 0;
    width: 0;
    border-right: 17px solid transparent;
    border-bottom: 29px solid #f0db23;
    border-left: 17px solid transparent;
    border-radius: 0;
  }
  65% {
    display: inline-block;
    background-color: #111111;
    height: 0;
    width: 0;
    border-right: 17px solid transparent;
    border-bottom: 29px solid #f0db23;
    border-left: 17px solid transparent;
    border-radius: 0;
  }
  66% {
    display: none;
    background-color: #e31e3c;
    width: 30px;
    height: 30px;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    border-radius: 0;
  }
  100% {
    display: none;
    background-color: #e31e3c;
    width: 30px;
    height: 30px;
    border-right: 0;
    border-bottom: 0;
    border-left: 0;
    border-radius: 0;
  }
}
header .header-title h1 {
  margin-left: 10px;
  font-family: "Roboto", sans-serif;
  font-size: 1.5em;
  font-weight: 600;
  opacity: 0;
  animation: opacity-title 0.5s ease-in;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}
@keyframes opacity-title {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  background-color: #111111;
  margin: 40px 40px 0 40px;
  padding: 0;
  font-family: "Roboto", sans-serif;
  color: #fefefe;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container_carousel {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: left;
  margin-top: 150px;
}
.container_carousel .carousel-title {
  display: flex;
  justify-content: center;
  width: 80%;
}
.container_carousel .carousel-title h1 {
  font-family: "Crimson Pro", serif;
  font-size: 6em;
  width: 80%;
  justify-content: flex-start;
  text-align: left;
  align-items: flex-start;
  margin: 0;
}
.container_carousel .carousel-title h1 span:nth-of-type(1) {
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
  animation-delay: 0.3s;
}
.container_carousel .carousel-title h1 span:nth-of-type(2) {
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
  animation-delay: 0.6s;
}
.container_carousel .carousel-title h1 span:nth-of-type(3) {
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
  animation-delay: 0.9s;
}
.container_carousel .carousel-title h1 span:nth-of-type(4) {
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
  animation-delay: 1.2s;
}
.container_carousel .carousel-title h1 span:nth-of-type(5) {
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
  animation-delay: 1.5s;
}
.container_carousel .carousel-title h1 span:nth-of-type(6) {
  opacity: 0;
  animation: fadeIn 0.5s ease-in forwards;
  animation-delay: 1.8s;
}
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.container_carousel .carousel {
  width: 100%;
  height: 99vh;
  overflow: hidden;
  object-fit: cover;
  margin: 100px 0 100px 0;
  background: url(../images/1.jpg);
  animation: slide 3s infinite;
  border-radius: 3px;
}
@keyframes slide {
  0% {
    background: url(../images/1.jpg);
  }
  7% {
    background: url(../images/1.jpg);
  }
  8% {
    background: url(../images/2.jpg);
  }
  15% {
    background: url(../images/2.jpg);
  }
  16% {
    background: url(../images/3.jpg);
  }
  23% {
    background: url(../images/3.jpg);
  }
  24% {
    background: url(../images/4.jpg);
  }
  31% {
    background: url(../images/4.jpg);
  }
  32% {
    background: url(../images/5.jpg);
  }
  39% {
    background: url(../images/5.jpg);
  }
  40% {
    background: url(../images/6.jpg);
  }
  47% {
    background: url(../images/6.jpg);
  }
  48% {
    background: url(../images/7.jpg);
  }
  55% {
    background: url(../images/7.jpg);
  }
  56% {
    background: url(../images/8.jpg);
  }
  63% {
    background: url(../images/8.jpg);
  }
  64% {
    background: url(../images/9.jpg);
  }
  71% {
    background: url(../images/9.jpg);
  }
  72% {
    background: url(../images/10.jpg);
  }
  79% {
    background: url(../images/10.jpg);
  }
  80% {
    background: url(../images/11.jpg);
  }
  87% {
    background: url(../images/11.jpg);
  }
  88% {
    background: url(../images/12.jpg);
  }
  100% {
    background: url(../images/12.jpg);
  }
}

.container_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.container_title h2 {
  font-family: "Roboto", sans-serif;
  font-size: 4em;
  font-weight: 600;
  text-align: left;
  width: 80%;
}
.container_title p {
  font-family: "Roboto", sans-serif;
  font-size: 2.2em;
  text-align: left;
  font-weight: 400;
  line-height: 1.5;
  width: 80%;
}
.container_title .appear2 {
  transition: all 0.8s;
  opacity: 0;
  transform: translateY(20px);
}
.container_title .appear2.inview2 {
  opacity: 1;
  transform: none;
}
.container_title .appear2.inview2:nth-child(1) {
  transition-delay: 0.1s;
}
.container_title .appear2.inview2:nth-child(2) {
  transition-delay: 0.2s;
}
.container_title .appear2.inview2:nth-child(3) {
  transition-delay: 0.3s;
}
.container_title .appear2.inview2:nth-child(4) {
  transition-delay: 0.4s;
}
.container_title .appear2.inview2:nth-child(5) {
  transition-delay: 0.5s;
}

.container_category {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  margin: 150px 0 0px 0;
}
.container_category .block_category {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 80%;
}
.container_category .block_category h3 {
  font-size: 1em;
  font-weight: 300;
  opacity: 0.3;
}
.container_category .block_category .list {
  display: flex;
  justify-content: space-between;
  width: 60%;
}
.container_category .block_category .list ul {
  margin: 0;
  font-size: 1.3em;
  list-style: none;
  line-height: 2.5;
}

/*# sourceMappingURL=style.css.map */
