@import 'abstracts/mixins';
@import 'abstracts/variables';

@import 'components/buttons';

@import 'layouts/footer';
@import 'layouts/header';

@import 'pages/contact';
@import 'pages/home';

body {
    background-color: $color-black;
    margin: 40px 40px 0 40px;
    padding: 0;
    font-family: $font-text;
    color: $color-white;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.container_carousel {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
    margin-top: 150px;
    .carousel-title {
        display: flex;
        justify-content: center;
        width: 100%;
        h1 {
            font-family: $font-title;
            font-size: 5em;
            width: 80%;
            text-align: left;
            margin: 0;
        }
    }
    .carousel {
        width: 100%;
        overflow: hidden;
        margin: 100px 0 100px 0;
        img {
            border-radius: 3px;
            object-fit: cover;
            width: 100%;
        }
    }
}



.container_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    h2 {
        font-family: $font-text;
        font-size: 3em;
        text-align: left;
        width: 80%;
    }
    p {
        font-family: $font-text;
        font-size: 1.5em;
        text-align: left;
        font-weight: normal;
        width: 80%;
    }
}



.container_category {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 150px 0 150px 0;
    .block_category {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        width: 80%;
        h3 {
            font-size: 1em;
            font-weight: 300;
            opacity: 0.3;
        }
        .list {
            display: flex;
            justify-content: space-between;
            width: 60%;
            ul {
                font-size: 1em;
                list-style: none;
                line-height: 2.5;
            }        
        }
    }   
}